<div>
	<span id="vocabulary-count"><label>(<%= incompleted%>) Left</label></span>
	<ul id="filters">
		<li><a href="#">All</a></li>
		<li><a href="#active">Active</a></li>
		<li><a href="#completed">Completed</a></li>
	</ul>
	<% if (completed) { %>
		<button id="clear-completed">Clear completed (<%= completed %>)</button>
	<% } %>
</div>