<td>
	<input class="completed" type="checkbox" <%= completed ? 'checked' : '' %>>
</td>
<td style="width: 530px;">
	<label id="vocabulary"><%=vocabulary%></label>
</td>
<td>
	<button class="destroy">X</button>
</td>